.library-page {
  min-height: 100vh;
  max-width: 1440px;
 margin: 0 auto;

}

.library-page h1 {
  font-size: var(--text-3xl);
  margin-bottom: 2rem;
  text-align: center;
} 

/* Layout general */
.catalogo-and-filtros {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: calc(100vh - 48px);
}

/* Filtros */
.filtros {
  height: 100%;
  padding: var(--space-xl);
  padding-right: 0;

}

.filtros h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Catálogo */
.catalogo {
  width: 100%;
}

/* Grid de libros */
.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: var(--space-md);
  margin: var(--space-xl);
}